* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Adamina', serif;
}

/* SECTION */
.thankyou-section {
    width: 100%;
    height: 100vh;

    background: 
        linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
        url("../images/thankyou-bg.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXT */
.thankyou-section h1 {
    color: white;
    font-size: 72px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
}
